	body{
		  background-color: pink;
			padding:10px 60px 100px 60px;

		}
		
		fieldset{

			margin-left:10px;
			
		}
		h1{
			color: red;
			padding: 10px;
		}
		legend{
			text-align: center;
		}
		label#Lname,label#Mname{
			margin-left: 10px;
		}	
	form{
		margin-left: 20px;
		}
		
	
		